################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/QB2/bin
/QB2/obj/Debug
/.vs
